<!DOCTYPE html>
<html>

<head>
    <title>
        Cursos Estudiantes
    </title>
    <!-- Bootstrap CSS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">
    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
    <!--Iconos Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        /* Menú móvil */
        .miMenuMovil {
            position: fixed;
            top: 0;
            left: -100%;
            width: 70%;
            height: 100%;
            background-color: #333;
            transition: 0.3s;
            z-index: 999;
            padding: 20px;
        }

        .miMenuMovil ul {
            list-style: none;
            padding: 0;
        }

        .miMenuMovil ul li {
            margin-bottom: 20px;
        }

        .miMenuMovil ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 20px;
        }

        .salir {
            margin-top: auto;
        }

        .icon {
            margin-right: 10px;
        }
    </style>

</head>

<body>



    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-12 col-md-12 d-flex flex-column align-items-center text-center">
                <span class="circulo">
                    <i class="fas fa-user" style="font-size: 3rem;"></i>
                </span>
                <h3 class="text-white">
                    <%= usuario.nombres %>
                        <%= usuario.apellidos %><i class="fa-solid fa-browser"></i>
                </h3>
                <h5 class="text-white">Estudiante</h5>
                <button id="abrirModal" class="btn btn-primary">Unirme a Curso </button>
            </div>
            <img class="trianguloDerecha" src="/imagenes/t_derecha.svg" />
        </div>
        <% if (cursos && cursos.length> 0) { %>
            <div class="row mt-4">
                <div class="col-6">
                    <h5 class="card-title text-white">Mis Cursos</h5>
                </div>
                <div class="col-6">
                    <h5 class="card-title text-white">Porcentaje de asistencias</h5>
                </div>
                <div class="col-12">
                    <% cursos.forEach((curso)=> { %>
                        <div class="card card-background">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <!-- Enlace al curso con la URL correcta -->
                                        <p class="card-text fw-bold nombreCurso">
                                            <%= curso.nombreCurso %>
                                        </p>
                                    </div>

                                    <div class="col-4 porcentaje">
                                        <% if (curso.porcentajeAsistencia>= 75) { %>
                                            <div class="progress-bar-75" role="progressbar">
                                                <span class="sr-only">
                                                    <%= curso.porcentajeAsistencia %>%
                                                </span>
                                                <%= curso.porcentajeAsistencia %>%
                                            </div>
                                            <% }else if (curso.porcentajeAsistencia>= 75) { %>
                                                <div class="progress-bar-75" role="progressbar">
                                                    <span class="sr-only">
                                                        <%= curso.porcentajeAsistencia %>%
                                                    </span>
                                                    <%= curso.porcentajeAsistencia %>%
                                                </div>
                                                <% } else if (curso.porcentajeAsistencia>= 50) { %>
                                                    <div class="progress-bar-50" role="progressbar">
                                                        <span class="sr-only">
                                                            <%= curso.porcentajeAsistencia %>%
                                                        </span>
                                                        <%= curso.porcentajeAsistencia %>%
                                                    </div>
                                                    <% } else if (curso.porcentajeAsistencia>= 25) { %>
                                                        <div class="progress-bar-25" role="progressbar">
                                                            <span class="sr-only">
                                                                <%= curso.porcentajeAsistencia %>%
                                                            </span>
                                                            <%= curso.porcentajeAsistencia %>%
                                                        </div>
                                                        <% } else if (curso.porcentajeAsistencia>= 15) { %>
                                                            <div class="progress-bar-15" role="progressbar">
                                                                <span class="sr-only">
                                                                    <%= curso.porcentajeAsistencia %>%
                                                                </span>
                                                                <%= curso.porcentajeAsistencia %>%
                                                            </div>
                                                            <% } else if (curso.porcentajeAsistencia>= 10) { %>
                                                                <div class="progress-bar-10" role="progressbar">
                                                                    <span class="sr-only">
                                                                        <%= curso.porcentajeAsistencia %>%
                                                                    </span>
                                                                    <%= curso.porcentajeAsistencia %>%
                                                                </div>
                                                                <% } else if (curso.porcentajeAsistencia>= 5) { %>
                                                                    <div class="progress-bar-5" role="progressbar">
                                                                        <span class="sr-only">
                                                                            <%= curso.porcentajeAsistencia %>%
                                                                        </span>
                                                                        <%= curso.porcentajeAsistencia %>%
                                                                    </div>
                                                        <% } else { %>
                                                            <div class="progress-bar-0" role="progressbar">
                                                                <span class="sr-only">
                                                                    <%= curso.porcentajeAsistencia %>%
                                                                </span>
                                                                <%= curso.porcentajeAsistencia %>%
                                                            </div>
                                                            <% } %>
                                    </div>
                                    <!-- Botón de opciones (Ellipsis) -->
                                    <div class="col-2 text-end">
                                        <div class="dropdown">
                                            <button class="btn btn-dark dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-ellipsis-vertical"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li>
                                                    <a data-id="<%= curso.idCurso %>"
                                                        class="dropdown-item eliminar-curso"
                                                        href="/profesor/eliminar/<%= curso.idCurso %>/eliminar">Eliminar
                                                        <i class="fa-solid fa-trash"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% }) %>

                        </div>













                </div>
            </div>
            <% } else { %>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <p class="text-white">Aún no tienes cursos inscritos.</p>
                    </div>
                </div>
                <% } %>
    </div>

    <form method="POST" action="/inscribirCurso">
        <div id="modalAgregar" class="modal fade">
            <div class="modal-dialog">

                <div class="modal-content">
                    <button id="cerrar" class="btn botonCerrar" data-dismiss="modal">X</button>

                    <div class="modal-header">
                        <h4 class="modal-title text-uppercase">AGREGAR CURSO</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nrc" class="ModalTituloCampo">NRC: </label>
                            <input class="form-control inputModal" name="nrc" type="number" min="0" step="1">
                        </div>
                    </div>
                    <div class="modal-footer text-center justify-content-center mx-auto">
                        <button type="submit" id="guardar" class="btn botonGuardar">Guardar</button>

                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="miMenuMovil">
        <ul>
            <li><a href="/logout"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Salir</a></li>
        </ul>
    </div>

    </div>




    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            // Abre el menú móvil al hacer clic en el icono
            $('.abrirMenu').click(function () {
                $('.miMenuMovil').css('left', '0');
            });

            // Cierra el menú móvil al hacer clic fuera del menú
            $(document).click(function (e) {
                if (!$(e.target).closest('.miMenuMovil').length) {
                    $('.miMenuMovil').css('left', '-100%');
                }
            });
        });
    </script>

    <script>



        $(document).ready(function () {

            // Abre el modal al hacer clic en el botón
            $('#abrirModal').on('click', function () {
                $('#modalAgregar').modal('show');
            });

            // Agrega datos al DataTable y guarda en localStorage
            $('#guardar').on('click', function () {
                var nombrePeriodo = $('#nombrePeriodo').val();
                var semanas = $('#semanas').val();
                var idCurso = $('#idCurso').val();

                // Cierra el modal
                $('#modalAgregar').modal('hide');
            });

            // Cierra el modal al hacer clic en el botón
            $('#cerrar').on('click', function () {
                $('#modalAgregar').modal('hide');
                event.preventDefault();

            });
        });


        // Elimina el curso
        $('.eliminar-curso').on('click', function (e) {
            e.preventDefault();
            const cursoId = $(this).data('id');

            console.log("hola")

            // Utilizando SweetAlert en lugar de confirm
            Swal.fire({
                title: '¿Estás seguro de que deseas eliminar este curso?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: `/eliminarCurso/${cursoId}`,
                        success: function (response) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            console.log('Error al eliminar el curso:', error);
                        }
                    });
                }
            });
        });

        // JavaScript para manejar la funcionalidad del menú ellipsis
        $(document).ready(function () {
            $('.dropdown-toggle').click(function () {
                $(this).next('.dropdown-menu').toggleClass('show');
            });

            $(document).on('click', function (e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown-menu').removeClass('show');
                }
            });
        });











    </script>



</body>

</html>