<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Asistencias</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
    <!--Iconos Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 cursosProf">
                <h1 class="mb-1 textAsistencia">Asistencia </h1>
                <h5 class="mt-2">Fecha: </h5>
                <input required type="date" class="form-control fechaClase">
                <h5 class="mt-2">Tema: </h5>
                <input required type="text" class="form-control nombreClase">
                <h5 class="mt-2">Descripción: </h5>
                <input type="text" class="form-control descripcion" placeholder="Opcional">
                <div class="col-xs-12 col-md-12 col-lg-12 d-flex justify-content-end">
                    <form action="/escanearAsistencia" method="post">
                        <button type="button" class="btn escanear" onclick="iniciarEscaneo()">
                            Escanear <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                style="fill: rgba(0, 0, 0, 1);">
                                <path d="M12 9c-1.626 0-3 1.374-3 3s1.374 3 3 3 3-1.374 3-3-1.374-3-3-3z"></path>
                                <path
                                    d="M20 5h-2.586l-2.707-2.707A.996.996 0 0 0 14 2h-4a.996.996 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zm-8 12c-2.71 0-5-2.29-5-5s2.29-5 5-5 5 2.29 5 5-2.29 5-5 5z">
                                </path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 m-4 d-flex justify-content-center">
            <h1 class="text-white textAsistencia">Lista de Asistencia:</h1>
        </div>
        <input class="idCurso" type="hidden" value="<%= idCurso %>" />
        <input class="idPeriodo" type="hidden" value="<%= idPeriodo %>" />

        <div class="col-md-12 col-lg-12 fondoTabla col-xs-12 table-responsive">
            <table id="tablaAsistencia"
                class="table table-bordered table-dark table-striped text-white text-center mt-4">
                <thead>
                    <tr class="bg-primary text-white">
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Presente</th>
                    </tr>
                </thead>
                <tbody>
                    <% estudiantes.forEach((est, index)=> { %>
                        <tr>
                            <td class="cedula">
                                <%= est.cedula %>
                            </td>
                            <td class="nombresApellidos"
                                data-cedula="<%= est.cedula %>_<%= est.nombres %> <%= est.apellidos %>">
                                <%= est.nombres %>
                                    <%= est.apellidos %>
                            </td>
                            <td class="asistio">
                                <label class="contenedorCheckbox">
                                    <input type="checkbox" class="checkbox"
                                        id="estudiante_<%= est.cedula %>_id_<%= est.idUsuario %>"
                                        data-index="<%= index %>">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>

    </div>

    </div>

    <div class="col-xs-12 col-md-12 col-lg-12 d-flex justify-content-center">
        <button onclick="enviarAsistencia()" type="button" class="btn guardar">
            Guardar <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1);">
                <path d="m12 16 4-5h-3V4h-2v7H8z"></path>
                <path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path>
            </svg>
        </button>
    </div>

    <%- include('menuMovil') %>



        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <script src="/popper/popper.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        <!-- datatables JS -->
        <script type="text/javascript" src="/datatables/datatables.min.js"></script>

        <!-- para usar botones en datatables JS -->
        <script src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
        <script src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
        <script src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
        <script src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>


        <!--Escaner -->
        <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.6.31/dist/dbr.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



        <script>

            jQuery(document).ready(function ($) {


                $('#tablaAsistencia').DataTable({
                    paging: false, // Desactiva la paginación
                    lengthChange: false,
                    language: {
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "zeroRecords": "No se encontraron resultados",
                        "info": "",
                        "infoEmpty": "",
                        "infoFiltered": "",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "",
                            "sLast": "",
                            "sNext": "",
                            "sPrevious": ""
                        },
                        "sProcessing": "Procesando...",
                    },
                    //para usar los botones   
                    responsive: "true",
                    dom: 'frti'

                });




            });


            // codigo para tomar asistencias

            function enviarAsistencia() {
                const asistencia = [];

                const idCurso = document.querySelector('.idCurso').value;
                const idPeriodo = document.querySelector('.idPeriodo').value;

                // Recorre cada checkbox para obtener los estudiantes presentes
                document.querySelectorAll('.checkbox').forEach(checkbox => {
                    const idCompleto = checkbox.id;
                    const partes = idCompleto.split('_');

                    const cedula = partes[1];
                    const idEstudiante = partes[3];


                    const nombreClase = document.querySelector(".nombreClase").value;
                    const descripcion = document.querySelector(".descripcion").value;
                    const fechaClase = document.querySelector(".fechaClase").value;
                    const asistio = checkbox.checked; // Verificar si el checkbox está marcado o no

                    asistencia.push({ idEstudiante, nombreClase, descripcion, fechaClase, asistio });
                });

                // Envío de los datos mediante una petición fetch
                fetch(`/guardarAsistencia/${idCurso}/${idPeriodo}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(asistencia),
                })
                    .then(response => {
                        if (response.ok) {
                            // se puede redireccionar aqui
                            window.location.href = `/profesor/curso/${idCurso}/${idPeriodo}`;

                        } else {
                            throw new Error('Error al enviar los datos de asistencia.');
                        }
                    })
                    .catch(error => {
                        console.error('Hubo un error:', error);
                        // Manejo de errores, como mostrar un mensaje al usuario o realizar alguna acción específica
                    });
            }

            // Configuración de la licencia
            Dynamsoft.DBR.BarcodeScanner.license = 'DLS2eyJoYW5kc2hha2VDb2RlIjoiMTAyMzU2OTMzLVRYbFhaV0pRY205cVgyUmljZyIsIm1haW5TZXJ2ZXJVUkwiOiJodHRwczovL21sdHMuZHluYW1zb2Z0LmNvbS8iLCJvcmdhbml6YXRpb25JRCI6IjEwMjM1NjkzMyIsInN0YW5kYnlTZXJ2ZXJVUkwiOiJodHRwczovL3NsdHMuZHluYW1zb2Z0LmNvbS8iLCJjaGVja0NvZGUiOjI5NjY5OTgwM30=';

            // Función para iniciar el escaneo
            async function iniciarEscaneo() {
                try {
                    // Crear una instancia del lector de códigos de barras
                    const scanner = await Dynamsoft.DBR.BarcodeScanner.createInstance();

                    // Configurar acciones cuando se lee un código de barras
                    scanner.onFrameRead = results => {
                        if (results.length > 0) console.log(results);
                    };

                    scanner.onUniqueRead = (txt, result) => {
                        // Acciones a realizar cuando se lee un código único
                        let cedula = txt; // Elimina espacios en blanco al inicio y final, si existen
                        let elementosCedula = document.querySelectorAll('.nombresApellidos');

                        let cedulaEncontrada = null;
                        let nombreCompletoEncontrado = null;

                        elementosCedula.forEach(elemento => {
                            let separado = elemento.getAttribute('data-cedula').split('_');
                            let cedulaObtenida = separado[0].trim(); // Se obtiene la cédula y se eliminan espacios en blanco
                            let nombreCompleto = separado[1];

                            // Comprobación flexible: se comparan cédulas sin importar mayúsculas/minúsculas y sin espacios adicionales
                            if (cedula.toLowerCase() === cedulaObtenida.toLowerCase()) {
                                cedulaEncontrada = cedulaObtenida;
                                nombreCompletoEncontrado = nombreCompleto;
                            }
                        });

                        if (cedulaEncontrada) {
                            alert("¡Carnet escaneado correctamente!\nAlumno: " + nombreCompletoEncontrado);
                        } else {
                            alert("El estudiante no se encuentra inscrito al curso");
                        }


                        // Marcar asistencia o realizar otras acciones
                        const checkboxes = document.querySelectorAll(`.checkbox[data-index]`);
                        checkboxes.forEach(checkbox => {
                            if (checkbox.id.includes(cedula)) {
                                const checkmark = checkbox.nextElementSibling;
                                checkbox.classList.add('double');
                                checkbox.checked = true;
                            } else {
                                checkbox.classList.add('checkbox');
                            }
                        });
                    };

                    // Mostrar el escáner
                    await scanner.show();
                } catch (error) {
                    console.error('Ocurrió un error al iniciar el escaneo:', error);
                }
            }

            // Llamar a la función de inicio del escaneo
            function iniciarEscaneoPrincipal() {
                iniciarEscaneo();
            }


        </script>

</body>

</html>