<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso <%= curso.nombreCurso %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 cursosProf">
                <h1 class="mb-1">Curso <%= curso.nombreCurso %>
                </h1>
                <h5>Sección: <%= curso.seccion %>
                </h5>
                <h5>NRC: <%= curso.nrc %>
                </h5>
                <h5>Cantidad de días por semana: <%= curso.cantDiasSemanas %>
                </h5>
                <h5>Clases: <%= curso.cantDiasSemanas %>
                </h5>
                <div class="col-xs-12 col-md-12 col-lg-12 d-flex justify-content-end">
                    <a href="/profesor/asistencias/<%= curso.idCurso %><%= idPeriodo %>"><button type="button" class="btn botonGeneral" data-toggle="modal" data-target="#exampleModal">
                        Pasar Asistencia
                    </button></a>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 m-4">
            <h1 class="text-white">Mis Estudiantes:</h1>
        </div>

        <div class="col-md-12 col-lg-12 fondoTabla table-responsive">
            <table id="tablaEstudiantes"
                class="table table-bordered table-dark table-striped text-white text-center mt-4">
                <thead>

                    <tr class="bg-primary text-white">
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                    </tr>
                </thead>
                <tbody>
                    <% estudiantes.forEach((est)=>{ %>
                        <tr>
                            <td class="">
                                <%= est.cedula %>
                            </td>
                            <td class="">
                                <%= est.nombres %> <%= est.apellidos %>
                            </td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 m-4">
            <h1 class="text-white">Clases:</h1>
        </div>

        <div class="col-md-12 col-lg-12 fondoTabla">
            <table id="tablaClases" class="table table-bordered table-dark table-striped text-white text-center mt-4">
                <thead>
                  <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <% clases.forEach(clase => { %>
                      <th><%= clase.nombreClase %> (<%= clase.fechaClase %>)</th>
                    <% }); %>
                  </tr>
                </thead>
                <tbody>
                  <% estudiantes.forEach(estudiante => { %>
                    <tr>
                      <td><%= estudiante.cedula %></td>
                      <td><%= estudiante.nombres %></td>
                      <% clases.forEach(clase => { %>
                        <td>
                          <% const asistencias = asistenciaPorClase[clase.idClase] || []; %>
                          <% const asistenciaEstudiante = asistencias.find(asistencia => asistencia.id === estudiante.id); %>
                          <% if (asistenciaEstudiante) { %>
                            <% if (asistenciaEstudiante.asistio === 1) { %>
                              <div style="width: 20px; height: 20px; border-radius: 50%; background-color: green;"></div>
                            <% } else { %>
                              <div style="width: 20px; height: 20px; border-radius: 50%; background-color: red;"></div>
                            <% } %>
                          <% } else { %>
                            <div style="width: 20px; height: 20px; border-radius: 50%; background-color: gray;"></div>
                          <% } %>
                        </td>
                      <% }); %>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
        </div>
    </div>
    </div>

<div class="miMenuMovil">
    <div class="navegacion">
        <ul>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z">
                            </path>
                        </svg>
                    </span>
                    <!-- <span class="text">Atrás</span> -->
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z">
                            </path>
                        </svg>
                    </span>
                    <!-- <span class="text">Home</span> -->
                </a>
            </li>
            <li class="list active">
                <a href="#">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                            style="fill: rgba(0, 0, 0, 1);">
                            <path
                                d="M4 7h11v2H4zm0 4h11v2H4zm0 4h7v2H4zm15.299-2.708-4.3 4.291-1.292-1.291-1.414 1.415 2.706 2.704 5.712-5.703z">
                            </path>
                        </svg>
                    </span>
                    <!-- <span class="text">Atrás</span> -->
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
</div>


    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- datatables JS -->
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <!-- para usar botones en datatables JS -->
    <script src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.6.31/dist/dbr.js"></script>

    <script>

        const list = document.querySelectorAll(".list");
        function activeLink() {
            list.forEach((l) => l.classList.remove("active"));
            this.classList.add("active");
        }
        list.forEach((l) => l.addEventListener("click", activeLink));


        const checkbox = document.getElementById('botonCheckbox');

        checkbox.addEventListener('click', function () {
            if (this.checked) {
                this.checked = false;
            } else {
                this.checked = true;
            }
        });

        jQuery(document).ready(function ($) {


            $('#tablaEstudiantes').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Bfrtilp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success d-inline-block'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> ',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger d-inline-block'
                    },

                ]
            });


            $('#tablaClases').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Bfrtilp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> ',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger'
                    },

                ]
            });




        });


    </script>


</body>

</html>