<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso <%= curso.nombreCurso %>
    </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/iconos.min.css">

    <!--datables CSS básico-->
    <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css" />
    <!--datables estilo bootstrap 4 CSS-->
    <link rel="stylesheet" type="text/css" href="/datatables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 cursosProf">
                <h1 class="mb-1">Curso <%= curso[0].nombreCurso %></h1>
                <h5>Sección: <%= curso[0].seccion %></h5>
                <h5>NRC: <%= curso[0].nrc %></h5>
                <h5>Cantidad de días por semana: <%= curso[0].cantDiasSemanas %></h5>
                <h5>Clases: <%= curso[0].cantDiasSemanas %></h5>
                <div class="col-xs-12 col-md-12 col-lg-12 d-flex justify-content-end">
                    <button type="button" class="btn botonGeneral" data-toggle="modal" data-target="#exampleModal">
                        Pasar Asistencia
                    </button>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 m-4">
            <h1 class="text-white">Mis Estudiantes:</h1>
        </div>

        <div class="col-md-12 col-lg-12 fondoTabla table-responsive">
            <table id="tablaEstudiantes"
                class="table table-bordered table-dark table-striped text-white text-center mt-4">
                <thead>

                    <tr class="bg-primary text-white">
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% estudiantes.forEach((est)=>{ %>
                        <tr>
                            <td class="">
                                <%= est.cedula %>
                            </td>
                            <td class="">
                                <%= est.nombres %>
                                    <%= est.apellidos %>
                            </td>
                            <td class=""><a class="botonEliminar" href="<%= est.id %>">Eliminar</a></td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 m-4">
            <h1 class="text-white">Asistencia:</h1>
        </div>

        <div class="col-md-12 col-lg-12 fondoTabla">
            <table id="tablaAsistencia"
                class="table table-bordered table-dark table-striped text-white text-center mt-4 ">
                <thead>
                    <tr class="bg-primary text-white">
                        <th scope="col">Fecha</th>
                        <th scope="col">Tema</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% asistencia.forEach((ast)=>{ %>
                        <tr>
                            <td class="">
                                <%= ast.fechaAsistencia %>
                            </td>
                            <td class="">
                                <%= ast.comentario %>
                            </td>
                            <td class=""><a class="botonEliminar" href="">Eliminar</a></td>
                        </tr>
                        <% }) %>


                </tbody>
            </table>
        </div>
    </div>

    </div>


    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- datatables JS -->
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>

    <!-- para usar botones en datatables JS -->
    <script src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>

    <script>
        jQuery(document).ready(function ($) {


            $('#tablaEstudiantes').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Bfrtilp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success d-inline-block'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> ',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger d-inline-block'
                    },

                ]
            });


            $('#tablaAsistencia').DataTable({
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                },
                //para usar los botones   
                responsive: "true",
                dom: 'Bfrtilp',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fas fa-file-pdf"></i> ',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn btn-danger'
                    },

                ]
            });




        });


    </script>


</body>

</html>